*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
:root{
  --sizeindex:calc(1vw + 1vh);
  --gutter: 30px;
	--side-small: 26;
	--side-big: 36;
	--depth: 4000px;
	--transition: .75s cubic-bezier(.075, .5, 0, 1)
}


@font-face {
  font-family: Lumberjack;
  src: url('/fonts/lumberjack.inline-rough.otf') format('opentype');
}

@font-face {
  font-family: GoudyBookletter;
  src: url('/fonts/GoudyBookletter1911.otf');
}
@font-face {
  font-family: SegoePrint;
  src: url('/fonts/segoeprint.ttf');
}
@font-face {
  font-family: Birthstone;
  src: url('/fonts/Birthstone-Regular.ttf');
}
.fontSizeMiddle{
  font-size: calc(var(--sizeindex)*1.5);
  line-height: calc(var(--sizeindex)*1.5);
}
.fontSizeBig{
  font-size: calc(var(--sizeindex)*3.5);
}
.fontSizeSmall{
  font-size: calc(var(--sizeindex)*.5);
}
.container1 {
	width: 100%;
	height: 70vh;
	position: fixed;
	perspective: 1500px;
}
.gallery {
	transform-style: preserve-3d;
	height: 100%;
}
.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition), opacity .75s ease;
	will-change: transform;
	transform-style: preserve-3d; 
  
}
.frame h2 {
	font-weight: 100;
	text-transform: uppercase;
	width: min-content;
	line-height: 1;
  text-align: center;
	font-size: calc(var(--index) * 3.3);
}

/* Portrait orientation */
@media screen and (orientation: portrait) {
.widthAlt{
  width:98%;
  /* height: 66.67vh; */
}
.heroSection {
  flex-direction: column;
  overflow-y: visible;
}
}
.stainglass {
  background:rgb(56, 28, 45);
}
/* Landscape orientation */
@media screen and (orientation: landscape) {
  .widthAlt{
    width:48%;
  }
  .heroSection {
    height:66.67vh;
  }
  @supports (backdrop-filter: blur(.25rem)) {
    .stainglass {
      background: rgba(21, 12, 12, 0.6);
      backdrop-filter: blur(.25rem);
    }
  }
  .departmentsContainer{
    height: calc(33.33vh - var(--sizeindex)*3);
    background: rgb(21, 12, 12);
  }
}

/* Animations */
.animate_class {
  stroke-width: 1;
  stroke: black;
  stroke-dasharray: 492;
  stroke-dashoffset: 492;
  animation-name: draw;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  animation-direction:alternate;
    animation-timing-function: linear;
}
.animate_pendulum {
  
  animation-name: pendulum;
  transform-origin: 50% 0%;
  
  animation: pendulum  5s ease-in-out infinite;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes pendulum {
  0%, 100% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
}
/* flame animations            shadow change    */
.flame{
	width:150px;
	height:150px;
	background:linear-gradient(-45deg, #FFEC00, #6a640d ); 
	border-radius: 150px 150px 0px 150px;
	transform:rotate(-135deg);
	animation:.3s flame infinite;
	filter:blur(10px);
	position:relative;
	box-shadow:17px 20px 90px #363303;
	border:45px solid black;
	border-left-width:25px;
	border-top-width:25px;
  font-size: calc(var(--sizeindex)*1.5);
}
@keyframes flame{
  0% {height:150px; width:150px;}
  50% {height:140px; width:140px;}
  100% {height:150px; width:150px;}
}

/* variables */
:root{
--quests:7;
}


.slide{
 width:320px;
 perspective: 100px;
}
.mediaScroller{
  position:relative;
  place-items: center;
  max-width:1200px;
  margin: auto;
  display:grid;
  overflow-x: auto;
}


.mediaScroller::before,
.mediaScroller::after{
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, 
  transparent 100%);
  content: '';
  height: 100%;
  position: absolute;
  width:15%;
  z-index:4;
}
.mediaScroller::before{
  left: 0;
  top:0;
}
.mediaScroller::after{
  right: 0;
  top:0;
  transform: rotateZ(180deg)
}
.slideTrack{
  display: flex;
  width: calc(320px*2*var(--quests));
  animation: scroll 40s alternate linear infinite;
  overflow-x:scroll;
}
.pauseAnim{
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-320px*var(--quests)));
  }
}


.inner-wrap {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(180deg, transparent 0,  #0c1118 250px);
  
  min-height: 250px;
  padding: 5em 20px;
  margin-top:-3rem;
  text-align: center;
}
.inner-wrap_front {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 250px;
  /* padding: 5em 20px; */
  text-align: center;
}
.inner-wrap_front h2 {
  font-family: Lumberjack;
  height:6rem;
}
.inner-wrap_front h3 {
  font-family: SourceSansPro;
  font-style: light;
  font-weight: 300;
}
.noscroll { 
  position: fixed; 
  overflow-y:scroll;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.inner-wrap h2 {
  font-family: Lumberjack;
  height:6rem;
}
.inner-wrap h3 {
  font-family: SourceSansPro;
  font-style: light;
  font-weight: 300;
}

.containerFont{
    font-weight: 300;
    font-style: light;
    font-family: SourceSansPro;
}
.containerDescription {
  width: auto;
  max-width: 768px;
  margin: auto;
  padding: 0 1em;
  font-weight: 300;
  font-style: light;
  font-family: SourceSansPro;
  display: grid;
  gap: 1em;
  grid-template-columns: 2fr 1fr;
}
.containerContacts {
  width: 100%;
  max-width: 1170px;
  margin: auto;
  padding: 0 1em;
  font-weight: 300;
  font-style: light;
  font-family: SourceSansPro;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 2fr;
}
.containerForm {
  width: auto;
  max-width: 1170px;
  margin: auto;
  padding: 0 1em;
  font-weight: 300;
  font-style: light;
  font-family: SourceSansPro;
}
.borderleft {
  border-color: rgba(55, 65, 81, 1);
  border-left-width: 2px;
  padding-left: 1.5rem;
}

.btnBlue1{
    border-width: 2px;
    border-color:#FFEC00;
    color: #FFEC00;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.btnBlue {
  appearance: none;
  border: none;
  outline: none;
  padding: 20px 40px;
  border-radius: 8px;
  font-weight: 600;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.4s;

  color: #FFEC00;
  border: 3px solid #FFEC00;
  background-image: linear-gradient(to top, #FFEC00 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0% 0%;
}

.btnBlue:hover {
  color: #FFF;
  background-position: 0% 100%;
}

.btnBlue:active {
  color: #FFF;
  background-position: 0% 100%;
}
@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
      }
}
@media screen and (max-width: 980px) {
  .containerDescription {
    display: block;
  }
  .borderleft {
    border-left-width: 0px;
    padding-left: 0;
  }
  .containerContacts {
    display: block;
  }
  .hideOnSmall {
    display: none;
  }
  html {
    font-size: 20px;
  }
}


@media screen and (min-width: 1200px) {
    html {
        font-size: 22px;
      }
}