/* --star: url('data:image/svg+xml,<svg fill='#6d7782' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 68.592 67.306'><path d='M69.35,38.555C68.569,17.9,56.939,2.151,32.837,1.992a44.471,44.471,0,0,0-9.046,1.059C13.513,5.58,7.923,10.181,4.067,18.145,1.9,22.612,1.325,27.048.912,32.519.722,35.05.83,37.989.83,37.989a19.237,19.237,0,0,0,.69,5.405A10.215,10.215,0,0,0,2.674,46.4c2.152,3.326,2.152,3.033,4.557,4.981,3.692,2.992,7.379,4.042,5.568,9.654-.659,2.042-.587,5.1,2.508,5.613,2.7.445,3.992-1.79,5.036-4.022,1.375-2.939,1.231-7.414,6.559-6.447,4.884.886,3.164,4.459,3.192,7.359.023,2.512.685,5.284,3.172,5.693,3.394.558,4.321-2.633,5.174-5.27.974-3.007-.783-7.317,4.779-7.94,5.627-.63,6.039,3.639,7.778,6.963,1.074,2.055,2.409,4.531,5.206,3.663,2.692-.835,2.933-3.475,2.236-5.83-1.117-3.775-1.5-6.724,3.427-8.12C69.007,50.678,69.588,44.857,69.35,38.555Zm-49.1,6.767c-3.437-.355-7.435-1.558-6.906-6.171.594-5.184,5.009-5.156,8.936-5.046,2.843.08,5.266.808,6.4,3.129a5.31,5.31,0,0,1-.816,5.709C26.041,45.105,23.218,45.629,20.253,45.322ZM49.9,44.292c-3.228.015-6.822-.4-6.986-4.321-.189-4.546,3.474-5.507,7.277-5.4,2.587.072,4.688.86,5.867,2.834a4.186,4.186,0,0,1-.019,4.329C54.744,43.793,52.464,44.28,49.9,44.292z'/>  </svg>), */
/* hearts : <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg> */
.rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.592 67.306"><path d="M69.35,38.555C68.569,17.9,56.939,2.151,32.837,1.992a44.471,44.471,0,0,0-9.046,1.059C13.513,5.58,7.923,10.181,4.067,18.145,1.9,22.612,1.325,27.048.912,32.519.722,35.05.83,37.989.83,37.989a19.237,19.237,0,0,0,.69,5.405A10.215,10.215,0,0,0,2.674,46.4c2.152,3.326,2.152,3.033,4.557,4.981,3.692,2.992,7.379,4.042,5.568,9.654-.659,2.042-.587,5.1,2.508,5.613,2.7.445,3.992-1.79,5.036-4.022,1.375-2.939,1.231-7.414,6.559-6.447,4.884.886,3.164,4.459,3.192,7.359.023,2.512.685,5.284,3.172,5.693,3.394.558,4.321-2.633,5.174-5.27.974-3.007-.783-7.317,4.779-7.94,5.627-.63,6.039,3.639,7.778,6.963,1.074,2.055,2.409,4.531,5.206,3.663,2.692-.835,2.933-3.475,2.236-5.83-1.117-3.775-1.5-6.724,3.427-8.12C69.007,50.678,69.588,44.857,69.35,38.555Zm-49.1,6.767c-3.437-.355-7.435-1.558-6.906-6.171.594-5.184,5.009-5.156,8.936-5.046,2.843.08,5.266.808,6.4,3.129a5.31,5.31,0,0,1-.816,5.709C26.041,45.105,23.218,45.629,20.253,45.322ZM49.9,44.292c-3.228.015-6.822-.4-6.986-4.321-.189-4.546,3.474-5.507,7.277-5.4,2.587.072,4.688.86,5.867,2.834a4.186,4.186,0,0,1-.019,4.329C54.744,43.793,52.464,44.28,49.9,44.292z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    background-color:#1F2937 ;
    -webkit-appearance: none;
  }
  [dir="rtl"] .rating {
    --dir: left;
  }
  .rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
  }
  .rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
  }
  .rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
  }
  .rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
  .rating-label {
    margin-block-end: 1rem;
  }
  
  /* NO JS */
  .rating--nojs::-moz-range-track {
    background: var(--fillbg);
  }
  .rating--nojs::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
  }
  .rating--nojs::-webkit-slider-runnable-track {
    background: var(--fillbg);
  }
  .rating--nojs::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
  }
  [dir="rtl"] .rating--nojs::-webkit-slider-thumb {
    box-shadow: var(--w) 0 0 var(--w) var(--fill);
  }